---
import dayjs from 'dayjs'
import { Image } from 'astro:assets';

export interface Props {
  post: any;
}

const { post } = Astro.props;
const { title, pubDate, hero } = post.data;
const url = `/blogs/posts/${post.slug}`;
---

<a href={url}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden"
  data-test="article-card">

  {hero && (
    typeof hero === 'string' ?
      <img class="squiggle" src={hero} alt={title} width="360" height="192"> :
      <Image class="squiggle" src={hero} alt={title} width={360} height={192} />
  )}
  <div class="py-6 px-8">
    <h2 class="font-bold text-2xl leading-tight">
      {title}
    </h2>
    <p class="text-xs text-gray-600 mt-4 flex items-center">
      {dayjs(pubDate).format('MM-DD-YYYY')}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>